* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  font-family: Arial;
}

h2 {
  font-size: 20px;
}

.adminList{
  height: 90vh;
  width: 100vh;
}
.Dashboard {
  /*border: 2px solid black;*/
  border-radius: 25px;
  margin: 10px;
  background-color: rgb(213, 213, 213,0.5);
  margin: 20px auto;
  width: 85%;
  padding: 10px;

}
.DashboardTitle {
  margin-left: 10px;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  }

.username-navbar{
  color: #0BEB0A;
}
.surname-navbar {
  color: #0BEB0A;
}
/*.nav-item active:hover{
  color: #0BEB0A;
}*/
.backgroud-main{
  padding-top: 15px;
  background-image:url('./assets/image-bg.png');
  background: cover;
  overflow: "hidden";
  height: "100vh";
  display: "flex";
}
.Box {
  min-width: 200px;
  background-color: white;
  height: 150px;
  margin: 10px;
  flex: 1;
  text-align: left;
  border-radius: 15px;
  padding: 10px;
}


.Graph {
  background-color: white;
  height: 400px;
  margin: 10px;
  /*border: 0.1px solid black;*/
  flex: 0.7;
  text-align: left;
  padding: 5px;
  border-radius: 15px;
  align-items: center;
  flex-basis: 0;
  /* Přidáno */
}

.GraphBox {
  max-width: 60%;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertBoxDiv {
  min-width: 30%;
  max-width: 40%;
  display: flex;
}
.Alerts {
  background-color: white;
  height: 400px;
  margin: 10px;
  /*border: 0.1px solid black;*/
  flex: 0.3;
  text-align: left;
  padding: 5px;
  border-radius: 15px;
  width: "40%"
}

.img {
  height: 50px;
  width: 50px;
  margin: 5px;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
}

.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.data {
  margin: 5px;
}

@media only screen and (min-width: 1440px) {
  .ContainerData {
    display: flex;
    justify-content: flex-start;
  }

    .GraphBox {
      min-width: 90%;
      width: 90%;
      display: flex;
    }
  
    .alertBoxDiv {
      min-width: 90%;
      width: 90%;
    }
}
@media only screen and (min-width: 530px) {

  .Box{
    max-width: 100%;
  }
}
