* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, "sans-serif";
}

body {
  height: 100vh;
}

h2 {
  font-size: 20px;
}

.adminList{
  height: 90vh;
  width: 100vh;
}
.Dashboard {
  /*border: 2px solid black;*/
  border-radius: 25px;
  margin: 10px;
  background-color: rgb(213, 213, 213,0.5);
  margin: 20px auto;
  width: 85%;
  padding: 10px;

}
.DashboardTitle {
  margin-left: 10px;
}

.Container {
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  justify-content: space-between;
}
.username-navbar{
  color: #0BEB0A;
}
.surname-navbar {
  color: #0BEB0A;
}
/*.nav-item active:hover{
  color: #0BEB0A;
}*/
.backgroud-main{
  padding-top: 15px;
  background-image:url('./assets/image-bg.png');
  background: cover;
  overflow: "hidden";
  height: "100vh";
  display: "flex";
}
.Box {
  max-width: 250px;
  min-width: 200px;
  background-color: white;
  height: 125px;
  margin: 10px;
  flex: 1;
  text-align: left;
  border-radius: 15px;
  padding: 5px;
}


.Graph {
  
  background-color: white;
  height: 400px;
  margin: 10px;
  /*border: 0.1px solid black;*/
  flex: 0.7;
  text-align: left;
  padding: 5px;
  border-radius: 15px;
  align-items: center;
  flex-basis: 0; /* Přidáno */
  width: "30%"
}

.graph-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Alerts {
  
  background-color: white;
  height: 400px;
  margin: 10px;
  /*border: 0.1px solid black;*/
  flex: 0.3;
  text-align: left;
  padding: 5px;
  border-radius: 15px;
  width: "40%"
}

.img {
  height: 50px;
  width: 50px;
  margin: 5px;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
}

.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.data {
  margin: 5px;
}
