.username-navbar,
.surname-navbar {
  color: white;
  padding: 0px 2px;
}

.form-inline {
  padding: 0px 10px;
}

.user-icon-name {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar-brand img {
  position: relative;
  top: -27px;
  left: -5px;
  width: 80px;
}

.navbar-brand {
  height: 0px;
}

.buttonLogOut:hover {
  background-color: red;
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
  }
}

@keyframes blink {
  0% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}

.blinking-background {
  animation: blink 1s infinite !important;
}
