.username-navbar,
.surname-navbar {
  color: white;
  padding: 0px 2px;
}

.form-inline {
  padding: 0px 10px;
}

.user-icon-name {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar-brand img {
  position: relative;
  top: -27px;
  left: -5px;
  width: 80px;
}

.navbar-brand {
  height: 0px;
}

.buttonLogOut:hover {
  background-color: red;
}
